global_defs {
    router_id {{ ans_hostname | default(inventory_hostname) }}
    script_user root
    enable_script_security
}

vrrp_script check_rabbitmq {
    script "/bin/bash -c '< /dev/tcp/127.0.0.1/5672'"
    interval 2
    timeout 2
    weight -10
    fall 2
    rise 2
}

vrrp_instance VI_1 {
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
    
    {% if inventory_hostname == groups['keepalived_cluster'][0] %}
    state MASTER
    priority 101
    {% else %}
    state BACKUP
    priority {{ 100 - groups['keepalived_cluster'].index(inventory_hostname) }}
    {% endif %}

    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }

    virtual_ipaddress {
        {{ keepalived_virtual_ip }}
    }
    track_script {
        check_rabbitmq
    }
}